{% extends 'base.html' %}

{% load static %}


{% block body %}

      <section class="mt-5 post">
        <div class="container">
            <div class="p-2 row">
                <div class="col-lg-8">
                    {% for i in post %}
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                              <a href="detay/{{i.id}}/" style="text-decoration: none;">
                              <img src="{{i.postImg.url}}" class="img-fluid rounded-start" alt="...">
                            </a>
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h6>{{i.user.first_name}} {{i.user.last_name}}</h6>
                                <h5 class="card-title">{{i.title}}</h5>
                                <p class="card-text">{{i.postText}}</p>
                                <p class="card-text"><small class="text-body-secondary">{{i.postTime}}</small></p>
                                <form action="{% url 'like' i.id %}" method="POST">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-primary">Beğen

                                    <span>{{i.likes_count}}</span>

                                  </button>
                                </form>
                              </div>
                            </div>
                          </div>
                      </div>
                      {% endfor %}
                </div>
            </div>
        </div>
      </section>  
{% endblock body %}
  